<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1 class="text-4xl font-bold text-center text-indigo-600 my-4">
    Gestión de Pedidos
  </h1>
  <div class="container mx-auto p-4">
    <form  class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label for="orderId" class="block text-gray-800 text-sm font-semibold mb-2">Buscar Pedido por ID:</label>
        <input (keydown)="changeFilter('id')" [formControl]="orderId" type="number" id="orderId" name="orderId" required
               class="shadow appearance-none border border-gray-300 rounded-lg w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:ring-2 focus:ring-indigo-500">
      </div>
      <div class="flex items-center justify-between">
        <button (click)="changeFilter('date')" type="button" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
          Hoy
        </button>
      </div>
    </form>
    
    <form  class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label for="waiterId" class="block text-gray-800 text-sm font-semibold mb-2">Crear Pedido con ID de Mesero:</label>
        <input [formControl]="waiterId" type="number" id="waiterId"  name="waiterId" required
               class="shadow appearance-none border border-gray-300 rounded-lg w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:ring-2 focus:ring-teal-500">
      </div>
      <div class="flex items-center justify-between">
        <button (click)="saveOrder()" type="button" class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-500">
          Crear
        </button>
      </div>
    </form>
     
    @for (order of filterView(); track $index) {
      <ul class="flex justify-center space-x-4 mt-8">
        <li><a (click)="showingDrinks(order.orderId)"class="px-4 py-2 text-blue-500 border border-gray-300 rounded hover:bg-gray-200">Bebidas</a></li>
        <li><a (click)="showingDishes(order.orderId)" class="px-4 py-2 text-blue-500 border border-gray-300 rounded hover:bg-gray-200">Platos</a></li>
        <li><a (click)="showingWaiters(order.orderId)" class="px-4 py-2 text-blue-500 border border-gray-300 rounded hover:bg-gray-200">Meseros</a></li>
    </ul>
      <div class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 shadow-lg rounded-lg p-6 mb-4">
        <h2 class="text-2xl font-extrabold mb-4 text-white">Detalles del Pedido</h2>
        <div class="text-white">
          <p><span class="font-semibold">ID del Pedido:</span> {{ order.orderId }}</p>
          <p><span class="font-semibold">Fecha del Pedido:</span> {{ order.orderDate | date:'dd/MM/yyyy HH:mm' }}</p>
          <p><span class="font-semibold">Estado:</span> <span class="text-yellow-300">{{ order.status }}</span></p>
          <p><span class="font-semibold">Total:</span> <span class="text-green-300">${{ order.total }}</span></p>
          <p><span class="font-semibold">ID del Camarero:</span> {{ order.waiterId }}</p>
        </div>
        <div class="mt-4 flex space-x-4">
          <button (click)="updatePrice(order.orderId)" (click)="activeOrderPayment(order.orderId)" class="bg-green-500 text-white py-2 px-4 rounded-full hover:bg-green-600">
            Facturar
          </button>
        </div>
      </div> 
      @if (activePaymentId === order.orderId) {<form class="bg-white p-6 rounded-lg shadow-lg">
        <div class="mb-4">
            <label for="number" class="block text-gray-700 text-sm font-bold mb-2">Efectivo</label>
            <input [formControl]="quantity" type="number" id="number" name="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Ingresa un número">
        </div>
        <div class="flex items-center justify-between">
            <button (click)="pay(order.orderId)" type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Pagar
            </button>
        </div>
    </form>}
    @if (showDishes && oneOrder?.orderId  === order.orderId) {
    <app-dish [order]="order"> </app-dish>   
    <app-dishorder [orderIdItem]="order.orderId"/>
  }
  @if (showDrinks && oneOrder?.orderId === order.orderId) {
    <app-drink [orderId]="order.orderId"></app-drink>
    <app-drinkorder [drinkOrderId]="order.orderId"></app-drinkorder>
 

  }
  @if (showWaiter && oneOrder?.orderId === order.orderId) {
    <app-waiter [waiterId]="order.waiterId"></app-waiter>
  }
  }  
  </div>    
    <script src="https://cdn.tailwindcss.com"></script>


</body>
</html>
