@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}